@media print {
	
	header #logo a img, nav#main-menu, .dt-style-picker-wrapper, .top-bar, footer, #property-enquiry, .dt-sc-tabs-frame, .breadcrumb, .bx-controls, #single-property-enquiry-form/*, #bx-pager*/, #property-featured-video-container, .social-bookmark, .social-share, .single-property-info li.print-icon, #dt-related-properties { display:none !important; }
	
	#header { padding-bottom:20px; }
	header #logo, .is-sticky #header #logo { width:100%; text-align:center; margin-right:0px !important; }
	#header-wrapper { position:inherit !important; }
	header #logo a { height:50px; width:100%; }
	header #logo a:before { content:attr(title); color:#ababab; font-size:40px; text-transform:uppercase; font-weight:bold; line-height:50px; }
	
	.fullwidth-background { margin:-20px 0px 20px; }
	.fullwidth-background h1 { padding:0px; }
	
	@page { size: auto; margin: 20mm 15mm; }
	
	.dt-sc-tabs-frame-content { display:block !important; }
	.dt-sc-tabs-frame-content { border:none; padding:10px 0px 0px !important; }
	
	.property-single-detail .property-contract-type, .property-gallery-container .property-contract-type, .property-gallery-container:hover .property-contract-type { right:inherit !important; left:-32px !important; top:12px !important; opacity:1; filter:alpha(opacity=100); -webkit-transition:none; -moz-transition:none; -o-transition:none; -ms-transition:none; transition:none; }
	
	#single-property-agent-info { width:100%; margin-right:0px; }
	.column.dt-sc-one-half#single-property-agent-info .dt-sc-agents-list .dt-sc-agent-details { margin-bottom:20px; } 
	#single-property-agent-info .dt-sc-agents-list .dt-sc-agent-content { clear:none; float:none; }
	#single-property-agent-info .dt-sc-agents-list .dt-sc-social-icons { display:none !important; }
	
	.main-title-section h1 { width:100%; text-align:center; }
}