@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

	@media only screen and (min-width:1240px) and (max-width:1920px) {

	.blog-thumb .wp-audio-shortcode .mejs-controls div.mejs-time-rail { width:167px !important; }
	.page-with-sidebar .blog-thumb .wp-audio-shortcode .mejs-controls div.mejs-time-rail { width:88px !important; }
	.page-with-both-sidebar .blog-thumb .wp-audio-shortcode .mejs-controls div.mejs-time-rail { width:398px !important; }
	
	}

	/*----*****---- << Desktop >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:960px) and (max-width:1240px) {
		
		.container { width:900px; }
		.boxed .wrapper, .boxed .is-sticky #header-wrapper { width:940px; }
		
		/*----*****---- << Header >> ----*****----*/		
		/*#header > .container{ height:60px; }
		#logo, #logo a { height:100%; }*/
		
		#lang_sel ul ul { right:0px; left:auto; }
		
		#logo { width:21%; margin-right:2%; margin-top:0px; } 
		#main-menu { width:77%; }
		
		.is-sticky #header #logo { width:18%; }
		.is-sticky #header #main-menu { width:80%; }
		
		#main-menu > ul.menu > li > a { padding:0px 13px; line-height:65px; }
		#main-menu > ul.menu > li > a i { line-height:60px; }
		
		#header.header2 #logo img, #header.header3 #logo img { max-height:50px; }
		#header.header2 #main-menu > ul.menu > li > a i, #header.header3 #main-menu > ul.menu > li > a i { font-size:12px; left:10px; }
		#header.header2 #main-menu > ul.menu > li > a { padding-left:25px; padding-right:10px; }
		
		#header.header3 #main-menu > ul.menu > li > a { padding:0px 12px 0px 25px; line-height:60px; }
		#header.header3 #main-menu > ul.menu > li > a .menu-item-description { display:none; }
		.is-sticky #header.header3 #main-menu > ul.menu > li > a { padding:0px 12px 0px 27px; line-height:56px; }
		
		#header.header4, #header.header5, #header.header4 .container, #header.header5 .container, #header.header4 #logo, #header.header5 #logo, #header.header4 #logo a, #header.header5 #logo a { height:auto; }
		#header.header4 #main-menu > ul.menu > li > a, #header.header5 #main-menu > ul.menu > li > a { padding:10px 10px 10px 40px; }
		#header.header4 #main-menu > ul.menu > li > a i, #header.header5 #main-menu > ul.menu > li > a i { left:10px; font-size:20px; } 		
		.is-sticky #header.header4 #main-menu > ul.menu > li > a, .is-sticky #header.header5 #main-menu > ul.menu > li > a { padding:8px 16px 8px 34px; }
		.is-sticky #header.header4 #main-menu > ul.menu > li > a i, .is-sticky #header.header5 #main-menu > ul.menu > li > a i { font-size:16px; }
		
		#header .contact-details { margin-top:12px; }
		
		.boxed #header.header2 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header2 #main-menu > ul.menu > li > a, .boxed #header.header3 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header3 #main-menu > ul.menu > li > a  { padding:0 17px; }
		.boxed #header.header2 #main-menu > ul.menu > li > a i, .boxed #header.header3 #main-menu > ul.menu > li > a .menu-item-description, .boxed #header.header3 #main-menu > ul.menu > li > a i { display:none; }
		
		.boxed .is-sticky #header.header4 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header5 #main-menu > ul.menu > li > a { padding:8px 16px 8px 35px; }
		.boxed .is-sticky #header.header4 #main-menu > ul.menu > li > a i, .boxed .is-sticky #header.header5 #main-menu > ul.menu > li > a i { font-size:16px; }
		
		
		/*----*****---- << mega Menu >> ----*****----*/	
		#main-menu ul li.menu-item-simple-parent ul { top:54px; }
		.megamenu-child-container { top:64px; }		
		.is-sticky #main-menu ul li.menu-item-simple-parent ul { top:45px; }
		.is-sticky .megamenu-child-container { top:55px; }
		
		#header.header3 #main-menu ul li.menu-item-simple-parent ul, #header.header4 #main-menu ul li.menu-item-simple-parent ul, #header.header5 #main-menu ul li.menu-item-simple-parent ul { top:49px; }
		#header.header3 .megamenu-child-container, #header.header4 .megamenu-child-container, #header.header5 .megamenu-child-container { top:59px; }
		.is-sticky #header.header3 #main-menu ul li.menu-item-simple-parent ul, .is-sticky #header.header4 #main-menu ul li.menu-item-simple-parent ul, .is-sticky #header.header5 #main-menu ul li.menu-item-simple-parent ul { top:45px; }
		.is-sticky #header.header3 .megamenu-child-container, .is-sticky #header.header4 .megamenu-child-container, .is-sticky #header.header5 .megamenu-child-container { top:55px; }
		
		.megamenu-2-columns-group .megamenu-child-container { width:440px; }
		.megamenu-3-columns-group .megamenu-child-container { width:660px; }
		.megamenu-4-columns-group .megamenu-child-container { width:880px; }
		
		.megamenu-child-container > ul.sub-menu > li { width:190px; }
		
		.megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:410px; }
		.megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:630px; }
		.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:850px; }
		
		/*----*****---- << Property Search >> ----*****----*/		
		.property-search-container { top:19%; }
		.property-search-container .dt-sc-tabs-frame-content { padding:20px 2% 15px; }
		ul.dt-sc-tabs-frame > li > a { line-height:35px; }
		.property-search-container select { padding:8px 50px 7px 8px; height:36px; }
		
		.property-search-container input[type="submit"] { padding:6px 15px; }
		
		.container .property-search-container { margin-top:-35px; }
		
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:680px }
		#primary.page-with-both-sidebar { width:460px; }
		
		#secondary, #secondary-right, #secondary-left { width:200px; }
		
		.main-title h1, .main-title h2 { font-size:36px; }
		
		/*----*****---- << Widgets >> ----*****----*/		
		.widget.flickrbox .flickr-widget div { max-width:63px; }
		
		.widget .recent-portfolio-widget li .thumb img { max-width:60px; }
		
		.secondary-sidebar .widget.flickrbox .flickr-widget div, .secondary-sidebar .widget.flickrbox .flickr-widget div { max-width:58px; }
		.secondary-sidebar .widget #wp-calendar th, .secondary-sidebar .widget #wp-calendar td { padding:6px; }
		
		#footer .widget .dt-sc-social-icons li, #footer .widget .dt-sc-social-icons li:after, #footer .widget .dt-sc-social-icons li a { width:40px; }
		#footer .widget .dt-sc-social-icons li:hover:after, #footer .widget .dt-sc-social-icons li a { height:40px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/	
		.min-space .dt-sc-hr-invisible-large { margin:30px 0px; }
		
		.dt-sc-contact-info.address p { width:70%; }
		.fullwidth-section .dt-sc-one-third .dt-sc-button.large.filled { padding:21px 24px; font-size:17px; }
		
		h5.dt-sc-toggle, h5.dt-sc-toggle-accordion { font-size:14px; }
		
		.dt-sc-one-half .main-title h2 { font-size:34px; }
		
		.dt-sc-donutchart-large { width:230px; }
		.dt-sc-donutchart-large .dt-sc-donutchart, .dt-sc-donutchart-large canvas, .dt-sc-donutchart-large .donutchart-text { width:230px !important; height:230px !important; line-height:230px !important; }
		.dt-sc-donutchart-large .donutchart-text { font-size:44px !important; }
		.dt-sc-donutchart-large { margin:0px 20px; }
		
		.dt-sc-one-half .main-title { padding-left:20px; }
		.dt-sc-one-half .main-title-wrapper span.main-title-icon { margin-right:20px; }
		
		/*----*****---- << Portfolio >> ----*****----*/
		.page-template-tpl-fullwidth-php .portfolio.dt-sc-one-fourth figcaption h5, .page-template-tpl-fullwidth-php .dt-sc-one-half .dt-sc-one-half.no-space figcaption h5 { font-size:16px; }	
		
		/* Two column */	
		.page-with-sidebar .portfolio.with-space.dt-sc-one-half { width:48%; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-half { width:100%; }	
		.page-with-sidebar .portfolio.with-space.dt-sc-one-half figcaption h5, .page-with-sidebar .portfolio.with-space.dt-sc-one-half figcaption h6 { font-size:14px; }
			
		/* Three column */
		.portfolio.with-space.dt-sc-one-third { width:31.6%; }
		.page-with-sidebar .portfolio.with-space.dt-sc-one-third { width:31%; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-third { width:30.4%; }
		
		.portfolio.dt-sc-one-third figcaption h5, .portfolio.with-space.dt-sc-one-third figcaption h6 { font-size:14px; }
		.page-with-sidebar .portfolio.dt-sc-one-third .fig-overlay a { width:28px; height:28px; line-height:28px; font-size:14px; }
		
		.page-with-sidebar.page-with-both-sidebar .portfolio.dt-sc-one-third .fig-title { width:51%; }
		.page-with-sidebar.page-with-both-sidebar .portfolio.dt-sc-one-third figcaption h5 { font-size:10px; line-height:16px; }
		.page-with-sidebar.page-with-both-sidebar .portfolio.dt-sc-one-third .portfolio .fig-overlay { margin-top:0px; }
		
		/* Four column */
		.container .portfolio.dt-sc-one-fourth figcaption h5, .container .portfolio.dt-sc-one-fourth figcaption h6 { font-size:11px; margin-bottom:0px; }
		
		.portfolio.with-space.dt-sc-one-fourth { width:23%; }
		.page-with-sidebar .portfolio.with-space.dt-sc-one-fourth { width:22.6%; }
		.page-with-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:55%; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-fourth { width:100%; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:auto; text-align:left; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h5 { font-size:20px; line-height:normal; margin-bottom:5px; }		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { font-size:18px; margin-bottom:5px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay { float:right; text-align:right; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { float:left; margin-right:-1px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { font-size:18px; height:38px; width:38px; line-height:38px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { display:block; }
		
		/*----*****---- << Blog >> ----*****----*/	
		.page-with-sidebar .tpl-blog-holder .dt-sc-one-half { width:48.4%; }
		.page-with-both-sidebar .tpl-blog-holder .dt-sc-one-half { width:100%; }
		
		.tpl-blog-holder .dt-sc-one-third { width:31.8%; }
		.page-with-sidebar .tpl-blog-holder .dt-sc-one-third { width:48.4%; }
		.page-with-both-sidebar .tpl-blog-holder .dt-sc-one-third { width:100%; }
		
		/*----*****---- << Property List View >> ----*****----*/	
		.page-with-sidebar .property-item.property-list-view .property-thumb { width:40%; }
		.page-with-sidebar .property-item.property-list-view .property-details { width:60%; }
		.page-with-sidebar .property-item.property-list-view .property-details .property-meta li { margin-right:20px; }
		.page-with-sidebar .property-item.property-list-view .property-details .property-meta li.read-more { float:none; width:100%; margin-top:10px; }
		
		
		/*----*****---- << Footer >> ----*****----*/	
		.widget #wp-calendar th, .widget #wp-calendar td { padding:5px; }
		#footer .footer-links ul li a { padding:0px 10px 0px 2px; margin:0px; }
		
		
		/*----*****---- << Events >> ----*****----*/	
		.page-with-sidebar #tribe-bar-collapse-toggle { padding:19px; }
		
		.tribe-events-single #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, .tribe-events-single #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous, .tribe-events-single #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, .tribe-events-single #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous { width:100%; text-align:center; }
		
		/*----*****---- << dsIDXpress >> ----*****----*/	
		.dsidx-search-widget .dsidx-price { width:32.6%; }
		#dsidx.dsidx-details .dsidx-contact-form .dsidx-contact-form-schedule-date-row select { width:46%; }
		
		/*----*****---- << BuddPress >> ----*****----*/
		.bp-login-widget-register-link a, #bp-login-widget-form input[type="submit"] { font-size:12px; }
		
	}

	/*----*****---- << Tablet (Portrait) >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:768px) and (max-width:959px) {
		
		.container { width:710px; }
		.boxed .wrapper, .boxed .is-sticky #header-wrapper { width:750px; }
		
		/*----*****---- << Header >> ----*****----*/
		/*#header { height:45px; }
		#header .container, #logo, #logo a { height:100%; }
		#logo a img { max-height:100%; }*/
		
		#lang_sel ul ul { right:0px; left:auto; }
		
		.top-bar .contact-number { display:none; }
		
		#logo { width:21%; margin-right:2%; margin-top:0px; } 
		#main-menu { width:77%; }
		
		.is-sticky #header #logo { width:20%; }
		.is-sticky #header #main-menu { width:78%; }
		
		.top-menu li { margin-right:10px; }
		.top-right ul li { margin-left:10px; }
		
		#main-menu > ul.menu > li > a, #header.header2 #main-menu > ul.menu > li > a, #header.header3 #main-menu > ul.menu > li > a, .is-sticky #header.header3 #main-menu > ul.menu > li > a, .boxed #main-menu > ul.menu > li > a, .boxed #header.header2 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header2 #main-menu > ul.menu > li > a, .boxed #header.header3 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header3 #main-menu > ul.menu > li > a { padding:0px 8px; line-height:50px; font-size:12px; }
		#main-menu > ul.menu > li > a i, #main-menu > ul.menu > li > a .menu-item-description { display:none; }
		
		.is-sticky #header #main-menu > ul.menu > li > a { line-height:45px; }
		/*.is-sticky #header { height:45px; }*/
		
		#header.header2 #logo img, #header.header3 #logo img { max-height:41px; }
		#header.header4, #header.header5, #header.header4 .container, #header.header5 .container, #header.header4 #logo, #header.header5 #logo, #header.header4 #logo a, #header.header5 #logo a { height:auto; }
		
		#header.header4 #main-menu > ul.menu > li > a i, #header.header5 #main-menu > ul.menu > li > a i, .boxed .is-sticky #header.header4 #main-menu > ul.menu > li > a i, .boxed .is-sticky #header.header5 #main-menu > ul.menu > li > a i { display:inline-block; line-height:55px; font-size:16px; left:3px; }
		
		#header.header4 #main-menu > ul.menu > li > a, #header.header5 #main-menu > ul.menu > li > a, .is-sticky #header.header4 #main-menu > ul.menu > li > a, .is-sticky #header.header5 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header4 #main-menu > ul.menu > li > a, .boxed .is-sticky #header.header5 #main-menu > ul.menu > li > a { padding:0px 13px 0 22px; line-height:55px; font-size:13px; }
		
		#header.header4 .megamenu-child-container, .is-sticky #header.header4 .megamenu-child-container, #header.header5 .megamenu-child-container, .is-sticky #header.header5 .megamenu-child-container { top:55px; }
		#header.header4 #main-menu ul li.menu-item-simple-parent ul, #header.header4 .is-sticky #main-menu ul li.menu-item-simple-parent ul, #header.header5 #main-menu ul li.menu-item-simple-parent ul, #header.header5 .is-sticky #main-menu ul li.menu-item-simple-parent ul { top:45px; }
		
		#header .contact-details { margin-top:4px; }
		#header .sociable-details { margin-top:6px; }
		
		.is-sticky #header.header2 #logo img, .is-sticky #header.header3 #logo img { max-height:36px; }
		
		
		/*----*****---- << Mega Menu >> ----*****----*/	
		#main-menu ul li.menu-item-simple-parent ul { top:39px; }
		.megamenu-child-container { top:49px; }		
		.is-sticky #main-menu ul li.menu-item-simple-parent ul { top:34px; }
		.is-sticky .megamenu-child-container { top:44px; }
		
		#header.header3 #main-menu ul li.menu-item-simple-parent ul, .is-sticky #header.header3 #main-menu ul li.menu-item-simple-parent ul { top:39px; }
		#header.header3 .megamenu-child-container, .is-sticky #header.header3 .megamenu-child-container { top:49px; }
		
		#header.header4 #main-menu ul li.menu-item-simple-parent ul, .is-sticky #header.header4 #main-menu ul li.menu-item-simple-parent ul, #header.header5 #main-menu ul li.menu-item-simple-parent ul, .is-sticky #header.header5 #main-menu ul li.menu-item-simple-parent ul { top:44px; }
		#header.header4 .megamenu-child-container, .is-sticky #header.header4 .megamenu-child-container, #header.header5 .megamenu-child-container, .is-sticky #header.header5 .megamenu-child-container { top:54px; }
		
		.megamenu-2-columns-group .megamenu-child-container { width:340px; }
		.megamenu-3-columns-group .megamenu-child-container { width:510px; }
		.megamenu-4-columns-group .megamenu-child-container { width:680px; }
		
		.megamenu-child-container > ul.sub-menu > li { width:150px; padding:10px; }
		
		.megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:320px; }
		.megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:490px; }
		.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:660px; }
		
		.megamenu-child-container > ul.sub-menu > li > a, .megamenu-child-container > ul.sub-menu > li > .nolink-menu, .megamenu-child-container ul.sub-menu > li > ul li a, #main-menu ul li.menu-item-simple-parent ul li a { font-size:12px; }
		.megamenu-child-container ul.sub-menu > li > ul li a:before { top:0px; }
		#main-menu ul li.menu-item-simple-parent ul { width:200px; }
		#main-menu ul li.menu-item-simple-parent ul li ul { left:200px; }
	#main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul li ul { right:200px; }
	
		/*----*****---- << Property Search >> ----*****----*/	
		/*.slider-image-only, .rev_slider_wrapper { display:none; }*/
		.property-search-container { position:inherit; width:75%; }
		.property-search-container .dt-sc-tabs-container { margin:40px 0px 0px; }
		
		.container .property-search-container { margin:-85px 0px 0px; }
		
		/*----*****---- << Property >> ----*****----*/	
		.page-with-sidebar .dt-sc-one-third .property-item .property-details .property-meta li, .page-with-sidebar .dt-sc-one-third .property-item-list .property-meta li, .dt-sc-one-fourth .property-item .property-details .property-meta li, .dt-sc-one-fourth .property-item-list .property-meta li, .dt-sc-one-fourth .property-item .property-details .property-meta li:first-child { width:50%; margin:5px 0px; }
		
		.dt-sc-one-third .property-item .property-thumb-meta .property-type, .dt-sc-one-third .property-item .property-thumb-meta .property-price, .dt-sc-one-fourth .property-item .property-thumb-meta .property-type, .dt-sc-one-fourth .property-item .property-thumb-meta .property-price { font-size:12px; padding:13px; }
		.dt-sc-one-third .property-item .property-details h2, .dt-sc-one-fourth .property-item .property-details h2 { font-size:16px; }
		.dt-sc-one-third .property-item .property-details h3, .dt-sc-one-fourth .property-item .property-details h3 { font-size:12px; line-height:20px; }
		.dt-sc-one-third .property-contract-type, .dt-sc-one-fourth .property-contract-type { font-size:11px; height:25px; line-height:25px; top:8px; left:-40px; }
		
		.page-with-sidebar .dt-sc-one-fourth .property-contract-type { font-size:9px; height:20px; line-height:20px; top:5px; left:-46px; }
		
		.single-property-info { padding-bottom:10px; margin-bottom:20px; }
		.single-property-info li.price { margin-bottom:10px; padding:10px 20px; margin-right:10px; }
		.single-property-info li { padding:10px 10px 0; } 
		
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:510px }
		#primary.page-with-both-sidebar { width:310px; }
		
		#secondary, #secondary-right, #secondary-left { width:180px; }
		
		.main-title h1, .main-title h2 { font-size:28px; }
		
		/*----*****---- << Widgets >> ----*****----*/	
		.widget ul ul li { width:75%; }
		
		.widget .recent-portfolio-widget li .thumb { margin-right:10px; }
		.widget .recent-portfolio-widget li .thumb img { max-width:45px; }
		
		.secondary-sidebar .widget #wp-calendar th, .secondary-sidebar .widget #wp-calendar td { padding:5px; font-size:12px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/
		.dt-sc-button.large { padding:21px 40px; }
		.dt-sc-button.xlarge, .dt-sc-button.filled.xlarge { padding:25px 45px; font-size:18px; }
		
		.min-space .dt-sc-hr-invisible-large { margin:10px 0px; }
		.custom-ico-content .dt-sc-ico-content.type10 p { display:none; }
		.custom-ico-content .dt-sc-ico-content.type10 h4 { margin-bottom:30px; }
		
		.fullwidth-section .dt-sc-one-third .dt-sc-button.large.filled { font-size:14px; padding:15px; }
		.dt-sc-team .dt-sc-social-icons li a, .dt-sc-team .dt-sc-social-icons li:after { width:40px; }
		.dt-sc-team .dt-sc-social-icons ul li a, .dt-sc-team .dt-sc-social-icons ul li:hover:after { height:30px; }
		
		.dt-sc-contact-info p { width:68%; }
		
		.dt-sc-ico-content.type1 { padding-left:60px; }
		.dt-sc-ico-content.type1 h4 { font-size:20px; }
		.dt-sc-ico-content.type1 .icon { widows:40px; }
		.dt-sc-ico-content.type1 .icon span { font-size:40px; }
		
		.dt-sc-ico-content.type4 .icon span { font-size:52px; }
		
		.dt-sc-callout-box.with-icon h4 { font-size:20px; }
		.dt-sc-callout-box .dt-sc-button.small { padding:12px 15px; font-size:12px; }
		
		h5.dt-sc-toggle, h5.dt-sc-toggle-accordion { font-size:14px; }
		.fullwidth-section h5.dt-sc-toggle, .fullwidth-section h5.dt-sc-toggle-accordion { padding-top:4px; }
		
		.dt-sc-donutchart-medium { width:130px; }
		.dt-sc-donutchart-medium .dt-sc-donutchart, .dt-sc-donutchart-medium canvas, .dt-sc-donutchart-medium .donutchart-text { width:130px !important; height:130px !important; line-height:130px !important; }
		.dt-sc-donutchart-medium .donutchart-text { font-size:24px !important; }
		
		.dt-sc-donutchart-large { width:180px; }
		.dt-sc-donutchart-large .dt-sc-donutchart, .dt-sc-donutchart-large canvas, .dt-sc-donutchart-large .donutchart-text { width:180px !important; height:180px !important; line-height:180px !important; }
		.dt-sc-donutchart-large .donutchart-text { font-size:30px !important; }
		.dt-sc-donutchart-large { margin:0px 20px; }
		
		.dt-sc-contact-info p { width:64%; }
		
		.dt-sc-social-icons li a { height:40px; width:40px; }
		.dt-sc-social-icons li:hover:after { height:40px; }
		.dt-sc-social-icons li:after, #footer .widget .dt-sc-social-icons li { width:40px; }
		
		.dt-sc-one-half .main-title-wrapper span.main-title-icon { margin-right:10px; }
		.dt-sc-one-half .main-title { padding-left:10px; }
		.dt-sc-one-half .main-title h2 { font-size:26px; }
		.dt-sc-one-half .main-title h4 { font-size:18px; }
		
		.dt-sc-one-half h1.border-title { font-size:20px; }
		.dt-sc-one-half h2.border-title { font-size:18px; }
		.dt-sc-one-half h3.border-title { font-size:17px; }
		
		.dt-sc-agents-list .dt-sc-agent-contact p a { font-size:12px; }
		
		/*----*****---- << Portfolio >> ----*****----*/	
		.page-template-tpl-fullwidth-php .portfolio.dt-sc-one-fourth figcaption h5, .page-template-tpl-fullwidth-php .portfolio.dt-sc-one-fourth figcaption h6, .page-template-tpl-fullwidth-php .dt-sc-one-half .dt-sc-one-half.no-space figcaption h5, .page-template-tpl-fullwidth-php .dt-sc-one-half .dt-sc-one-half.no-space figcaption h6 { font-size:11px; margin-bottom:0px; }
		.page-template-tpl-fullwidth-php .portfolio.dt-sc-one-fourth .fig-overlay a, .page-template-tpl-fullwidth-php .dt-sc-one-half .portfolio.dt-sc-one-half.no-space .fig-overlay a  { height:28px; width:28px; line-height:28px; font-size:14px; }
		
		/* Two column */	
		.portfolio.with-space.dt-sc-one-half { width:48%; }	
		.page-with-sidebar .portfolio.with-space.dt-sc-one-half { width:47.5%; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-half { width:100%; }		
		
		.page-with-sidebar .portfolio.with-space.dt-sc-one-half figcaption h5, .page-with-sidebar .portfolio.with-space.dt-sc-one-half figcaption h6 { font-size:12px; margin-bottom:0px; }
		.portfolio .fig-overlay a { width:28px; height:28px; line-height:28px; font-size:14px; }
		
		/* Three column */
		.portfolio.with-space.dt-sc-one-third { width:31%; }
		.page-with-sidebar .portfolio.with-space.dt-sc-one-third { width:47.5%; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-third { width:100%; }
		
		.portfolio.dt-sc-one-third figcaption h5, .portfolio.dt-sc-one-third figcaption h6 { font-size:12px; margin-bottom:0px; }
		.page-with-sidebar .portfolio.dt-sc-one-third .fig-overlay a { width:28px; height:28px; line-height:28px; font-size:14px; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-third figcaption h6 { display:block; }		
		.page-with-sidebar.page-with-both-sidebar .portfolio.dt-sc-one-third .fig-title { width:auto; }
		
		/* Four column */
		.container .portfolio.dt-sc-one-fourth figcaption h5, .container .portfolio.dt-sc-one-fourth figcaption h6 { font-size:11px; margin-bottom:0px; }
		
		.container .portfolio.no-space.dt-sc-one-fourth { width:33.3%; }
		.portfolio.with-space.dt-sc-one-fourth { width:31%; }
		.page-with-sidebar .portfolio.with-space.dt-sc-one-fourth { width:47.5%; }
		.page-with-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:auto; }
		.page-with-both-sidebar .portfolio.with-space.dt-sc-one-fourth { width:100%; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:auto; text-align:left; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h5 { font-size:16px; line-height:normal; margin-bottom:5px; }		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { font-size:14px; margin-bottom:5px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay { float:right; text-align:right; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { float:left; margin-right:-1px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { font-size:18px; height:38px; width:38px; line-height:38px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6, .page-with-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { display:block; }

		/*----*****---- << Blog >> ----*****----*/	
		.dt-sc-one-third .entry-details .entry-title h4 { font-size:16px; }
		.dt-sc-one-third .entry-thumb .bx-controls a { height:45px; width:30px; background-size:10px 20px; }
		
		.page-with-sidebar .tpl-blog-holder .sticky .featured-post, .page-with-sidebar .tpl-blog-holder .featured-post, .tpl-blog-holder .dt-sc-one-half .featured-post { padding-right:0px; }
		.page-with-sidebar .tpl-blog-holder .sticky .featured-post span.text, .page-with-sidebar .tpl-blog-holder .featured-post span.text, .tpl-blog-holder .dt-sc-one-half .featured-post span.text { font-size:0; }
		
		.tpl-blog-holder .dt-sc-one-half { width:48.4%; }
		.page-with-sidebar .tpl-blog-holder .dt-sc-one-half { width:48%; }
		.page-with-both-sidebar .tpl-blog-holder .dt-sc-one-half { width:100%; }
		.page-with-sidebar .tpl-blog-holder .dt-sc-one-half .entry-details .entry-title h4 { font-size:16px; }
		
		.tpl-blog-holder .dt-sc-one-third { width:31.2%; }
		.page-with-sidebar .tpl-blog-holder .dt-sc-one-third, .page-with-both-sidebar .tpl-blog-holder .dt-sc-one-third { width:100%; }
		
		.tpl-blog-holder .entry-thumb .bx-controls a { height:45px; width:30px; background-size:10px 20px; }
		
		.page-with-sidebar ul.commentlist li { padding-left:70px; }
		.page-with-sidebar ul.commentlist li .comment-author img { max-height:50px; max-width:50px; }
		
		.page-with-both-sidebar ul.commentlist li { padding-left:50px; }
		.page-with-both-sidebar ul.commentlist li .comment-author img { max-height:30px; max-width:30px; }
		
		.page-with-both-sidebar blockquote.alignleft { margin-right:0px; width:94%; }
		.page-with-both-sidebar blockquote.alignright { margin-left:0px; width:94%; float:left; }
		
		.page-with-sidebar .blog-thumb .entry-thumb { width:100%; margin-right:0px; margin-bottom:20px; }
		.page-with-sidebar .blog-thumb .entry-details { width:100%; }
		
		
		/*----*****---- << Property List View >> ----*****----*/	
		.property-item.property-list-view .property-thumb { width:38%; }
		.property-item.property-list-view .property-details { width:62%; }		
		.property-item.property-list-view .property-details .property-meta li { margin-right:10px; }
		.property-item.property-list-view .property-details .property-meta li.read-more { float:none; }
		
		.page-with-sidebar .property-item.property-list-view .property-thumb, .page-with-sidebar .property-item.property-list-view .property-details { width:100%; }
		.page-with-sidebar .property-item.property-list-view .property-details .property-meta li { margin-right:20px; }
		.page-with-sidebar .property-item.property-list-view .property-details .property-meta li.read-more { float:none; margin-left:0px; }
		
		/*----*****---- << Footer >> ----*****----*/	
		.widget #wp-calendar th, .widget #wp-calendar td { padding:3px; }
		
		#footer .copyright { text-align:center; }
		#footer .copyright .copyright-info { width:100%; }
		#footer .copyright .copyright-info, #footer .footer-links { float:none; display:inline-block; }
		
		
		/*----*****---- << dsIDXpress >> ----*****----*/	
		.dsidx-search-widget .dsidx-price { width:31%; }
		.dsidx-search-widget .dsidx-search-button .submit { font-size:11px; }
		#dsidx.dsidx-details .dsidx-contact-form .dsidx-contact-form-schedule-date-row select { width:45%; }
		
		/*----*****---- << BuddPress >> ----*****----*/
		.bp-login-widget-register-link a { font-size:12px; padding:8px 15px; }
		#bp-login-widget-form input[type="submit"] { font-size:12px; padding:11px 15px; }
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	@media only screen and (max-width: 767px) {
		
		
		/*----*****---- << Column >> ----*****----*/
		.column { margin-bottom:20px; margin-left:0px; }
		.column.no-space { margin-bottom:0px; }		
		
		.dt-sc-one-fourth, .dt-sc-one-half, .dt-sc-one-third, .dt-sc-three-fourth, .dt-sc-two-third, .dt-sc-one-fifth, .dt-sc-four-fifth, .dt-sc-three-fifth, .dt-sc-two-fifth, .dt-sc-one-sixth, .dt-sc-two-sixth, .dt-sc-three-sixth, .dt-sc-four-sixth, .dt-sc-five-sixth, .column.no-space.dt-sc-one-fourth, .column.no-space.dt-sc-one-third, .column.no-space.dt-sc-one-half, .column.no-space.dt-sc-one-fifth, .column.no-space.dt-sc-one-sixth, .column.no-space.dt-sc-three-fourth, .column.no-space.dt-sc-two-third, .column.no-space.dt-sc-four-fifth, .column.no-space.dt-sc-three-fifth, .column.no-space.dt-sc-two-fifth, .column.no-space.dt-sc-two-sixth, .column.no-space.dt-sc-three-sixth, .column.no-space.dt-sc-four-sixth, .column.no-space.dt-sc-five-sixth { width:100%; }
		
	.dt-sc-pricing-table.no-space .dt-sc-one-fourth, .dt-sc-pricing-table.no-space .dt-sc-one-third, .dt-sc-pricing-table.no-space .dt-sc-one-half, .dt-sc-pricing-table.no-space .dt-sc-one-fifth, .dt-sc-pricing-table.no-space .dt-sc-one-sixth, .dt-sc-pricing-table.no-space .dt-sc-three-fourth, .dt-sc-pricing-table.no-space .dt-sc-two-third, .dt-sc-pricing-table.no-space .dt-sc-four-fifth, .dt-sc-pricing-table.no-space .dt-sc-three-fifth, .dt-sc-pricing-table.no-space .dt-sc-two-fifth, .dt-sc-pricing-table.no-space .dt-sc-two-sixth, .dt-sc-pricing-table.no-space .dt-sc-three-sixth, .dt-sc-pricing-table.no-space .dt-sc-four-sixth, .dt-sc-pricing-table.no-space .dt-sc-five-sixth { width:100%; }
		
		#secondary-left.secondary-has-left-sidebar, #secondary-right.secondary-has-right-sidebar, #secondary-left.secondary-has-both-sidebar { display: table-cell; float: none; }
		#primary.with-left-sidebar, #primary.with-right-sidebar, #primary.page-with-both-sidebar { display: table-caption; float: none; }
	
		/*----*****---- << Headings >> ----*****----*/
		h1{ font-size:34px; }
		h2{ font-size:30px; }
		h3{ font-size:20px; }
		h4{ font-size:18px; }
		h5{ font-size:16px; }
		h6{ font-size:14px; }
		
		.main-title h1, .main-title h2 { font-size:30px; }
		
		.fullwidth-background h1 { text-align:center; width:100%; font-size:24px; padding-bottom:15px; }
		.breadcrumb { text-align:center; float:left; width:100%; margin-bottom:0px; position:inherit; padding-bottom:20px; }
		
		/*----*****---- << Header >> ----*****----*/
		.top-bar .contact-number { display:none; } 
		.top-right ul li { margin:0px 5px; }
		.top-right { float:left; }
		.top-menu { display:none; }
		.user-account, .contact-number { margin-left:0px; }
		
		.top-right { width:100%; text-align:center; float:left; }
		#lang_sel { display:inline-block; text-align:center; margin:0px; }
		.top-right ul { float:none; display:inline-block; }
		.top-right ul li, #lang_sel li { float:none; display:inline-block; }
		#lang_sel ul ul { z-index:9999999; }
		
		.boxed .inner-wrapper { border-radius:0px; border:none; }
		
		#header > .container { position:static; width:100%; }
		
		.is-sticky #header-wrapper { top:0px !important; }
		
		#logo, #header.header4 #logo, #header.header5 #logo, .is-sticky #header #logo { text-align:center; margin-bottom:20px; width:100%; }
		#header .contact-details, #header .dt-sc-social-icons { display:none; }
		
		.is-sticky #header #logo { margin-bottom:15px; }
		.is-sticky #header #logo a img { max-height:41px; }
		
		#header-wrapper-sticky-wrapper { height:auto !important; }
		
		#header.header2 #logo a, #header.header3 #logo a { margin-left:0px; }
		
		.mean-container a.meanmenu-reveal { width:30px; height:21px; padding:31px 20px 30px; }
		.mean-container .mean-nav { margin-top:80px; overflow:hidden; }
		.mean-container .mean-nav img { max-width:100%; }
		.mean-nav ul li span { display:none; }
		
		.is-sticky .mean-container a.meanmenu-reveal { width:19px; height:20px; padding:19px 16px 19px; }
		.is-sticky .mean-container .mean-nav { margin-top:56px; }
		
		.main-menu-wrapper, .main-menu-wrapper .container { float:none; clear:none; width:100%; }
		.is-sticky #header.header4 > .container, .is-sticky #header.header5 > .container { display:block; }
		/*.is-sticky #header.header4, .is-sticky #header.header5 { height:56px; }
		.is-sticky #header.header4 .mean-container a.meanmenu-reveal, .is-sticky #header.header5 .mean-container a.meanmenu-reveal { top:-57px; }
		.is-sticky #header.header4 .mean-container .mean-nav, .is-sticky #header.header5 .mean-container .mean-nav { margin-top:0px; }
		 #header.header4 .mean-container a.meanmenu-reveal, #header.header5 .mean-container a.meanmenu-reveal { top:-1px; }*/
		 
		 .main-menu-wrapper { border:none; margin:0px; }
		 #header #searchform { display:none; }
		 
		/*----*****---- << Property Search >> ----*****----*/	
		/*.slider-image-only, .rev_slider_wrapper { display:none; }*/
		.property-search-container, .boxed .property-search-container { position:inherit; width:95%; }
		.property-search-container .dt-sc-tabs-container { margin:40px 0px 0px; }
		.property-search-container .small-module { width:48%; }
		
		.container .property-search-container { margin:-85px 0px 0px; }
		 
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:100%; }
		#primary.page-with-both-sidebar { width:100%; }
		
		#primary.with-left-sidebar { margin-left:0px; }
		#primary.with-right-sidebar { margin-right:0px; }
		#primary.page-with-both-sidebar { margin:0px; }
		
		#secondary, #secondary-right, #secondary-left { width:100%; }
		
		/*----*****---- << Side Navigation >> ----*****----*/
		.side-navigation { width:100%; margin:0px 0px 30px; }
		.side-navigation-content { width:100%; }
		
		/*----*****---- << Shortcodes >> ----*****----*/
		.min-space .dt-sc-hr-invisible-large { margin:0px; }
		
		blockquote.alignleft { margin-right:0px; width:94%; }
		blockquote.alignright { margin-left:0px; width:94%; float:left; }
		
		.dt-sc-hr.top { width:92%; }
		.dt-sc-hr.top a { right:-8%; }
		
		.main-title-wrapper { text-align:center;  }
		.main-title-wrapper span.main-title-icon { float:none; margin:0px 0px 10px; }
		.main-title { padding:0px; border:0px; width:100%; }
		
		.dt-sc-callout-box { text-align:center; }
		.dt-sc-callout-box .icon { display:inline-block; float:none; margin:-5px 0 20px; }
		.dt-sc-callout-box .dt-sc-button { float:none; }
		.dt-sc-callout-box .dt-sc-one-fifth { margin-bottom:0px; }
		
		.dt-sc-ico-content.type4 .icon span { font-size:52px; }
		.dt-sc-ico-content.type6 { margin-top:45px; }
		
		h5.dt-sc-toggle, h5.dt-sc-toggle-accordion { font-size:14px; }
		
		.shadow { display:none; }
		
		.dt-sc-testimonial .author { width:50px; height:50px; }
		.dt-sc-testimonial { padding-left:70px; }
		.dt-sc-testimonial .author img { max-width:50px; }
		
		.dt-sc-donutchart-medium { margin:0 25%; }
		
		.dt-sc-pr-tb-col.selected { margin-top:0px; }
		
		.content-slider img { margin-top:20px; }
		
		.property-item-list-tab .dt-sc-tabs-frame-content { padding-top:0px; }
		.property-item-list .property-thumb, .property-item-list .property-details { width:100%; margin-right:0px; }
		.property-item-list .property-price { width:17%; text-align:left; }
		.property-item-list .property-meta { width:80%; }
		
		/*----*****---- << Blog >> ----*****----*/
		.sticky .featured-post, .featured-post { padding-right:0px; }
		.featured-post span.text { font-size:0; }
		
		.entry-details .entry-title h4 { font-size:16px; }
		
		.blog-thumb .entry-thumb { width:100%; margin-right:0px; padding-bottom:15px; }
		.blog-thumb .entry-details { width:100%; }
		
		.tpl-blog-holder .dt-sc-one-half, .page-with-sidebar .tpl-blog-holder .dt-sc-one-half, .page-with-both-sidebar .tpl-blog-holder .dt-sc-one-half, .tpl-blog-holder .dt-sc-one-third, .page-with-sidebar .tpl-blog-holder .dt-sc-one-third, .page-with-both-sidebar .tpl-blog-holder .dt-sc-one-third { width:100%; }
		
		/*----*****---- << Portfolio >> ----*****----*/
		.portfolio.with-space.dt-sc-one-half, .page-with-sidebar .portfolio.with-space.dt-sc-one-half, .page-with-both-sidebar .portfolio.with-space.dt-sc-one-half, .portfolio.with-space.dt-sc-one-third, .page-with-sidebar .portfolio.with-space.dt-sc-one-third, .page-with-both-sidebar .portfolio.dt-sc-one-third, .portfolio.with-space.dt-sc-one-fourth, .page-with-sidebar .portfolio.with-space.dt-sc-one-fourth, .page-with-both-sidebar .portfolio.dt-sc-one-fourth { width:100%; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-third figcaption h6 { display:block; }		
		.page-with-sidebar.page-with-both-sidebar .portfolio.dt-sc-one-third .fig-title { width:auto; }
		
		.portfolio figcaption h5 { font-size:20px !important; }
		.portfolio figcaption h6 { font-size:18px !important; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-third .fig-overlay a { width:38px; height:38px; line-height:38px; font-size:18px; }
		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6, .page-with-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { display:block; }
		
		.page-with-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:auto; }
				
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-title { width:auto; text-align:left; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h5 { font-size:16px; line-height:normal; margin-bottom:5px; }		
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth figcaption h6 { font-size:14px; margin-bottom:5px; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay { float:right; text-align:right; }
		.page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { float:left; margin-right:-1px; }
		.container .portfolio.dt-sc-one-fourth .fig-overlay a, .page-with-both-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a, .page-with-sidebar .portfolio.dt-sc-one-fourth .fig-overlay a { font-size:18px; height:38px; width:38px; line-height:38px; }
		
		/*----*****---- << Footer >> ----*****----*/
		#footer .copyright { text-align:center; }
		#footer .copyright .copyright-info { margin-bottom:10px; line-height:24px; }
		#footer .copyright .copyright-info, #footer .footer-links { float:none; display:inline-block; }
		
		
		/*----*****---- << Add property >> ----*****----*/
		.add-property-form .grey-box-form { padding:20px 5% 15px; width:90%; }
		.grey-box-form .column { margin-bottom:0px; }
		.grey-box-form .dt-sc-button { clear:both; float:left; }
		#dt-frontend-uploader-container li { padding:5px 2%; width:96%; }
		#dt-frontend-uploader-container li img, #dt-frontend-uploader-container li .dt-video { margin-right:10px; }
		#dt-frontend-uploader-container li input[type="text"] { width:52%; }
		
		.column .dt-sc-agents-list .dt-sc-agent-thumb, .column.dt-sc-one-column .dt-sc-agents-list .dt-sc-agent-thumb, .column.dt-sc-one-half .dt-sc-agents-list .dt-sc-agent-thumb { margin-right:0px; width:100%; }
		.column .dt-sc-agents-list .dt-sc-agent-details, .column.dt-sc-one-column .dt-sc-agents-list .dt-sc-agent-details, .column.dt-sc-one-half .dt-sc-agents-list .dt-sc-agent-details { width:100%; margin-top:15px; }
		.column .dt-sc-agents-list .dt-sc-agent-contact, .column.dt-sc-one-column .dt-sc-agents-list .dt-sc-agent-contact, .column.dt-sc-one-half .dt-sc-agents-list .dt-sc-agent-contact { width:90%; padding-left:5%; padding-right:5%; }
		.column .dt-sc-agents-list .dt-sc-agent-contact p, .column.dt-sc-one-column .dt-sc-agents-list .dt-sc-agent-contact p, .column.dt-sc-one-half .dt-sc-agents-list .dt-sc-agent-contact p { clear:both; margin:5px 20px 5px 0px; }
		
		.single-property-info { padding-bottom:10px; margin-bottom:20px; }
		.single-property-info li.price { margin-bottom:50px; padding:10px 20px; margin-right:10px; }
		.single-property-info li { padding:10px 10px 0; } 
		
		/*----*****---- << Property List View >> ----*****----*/	
		.property-item.property-list-view .property-thumb, .property-item.property-list-view .property-details { width:100%; }
		.property-item.property-list-view .property-details .property-meta li.read-more { float:none; margin-top:10px; }
		
		/*----*****---- << dsIDXpress >> ----*****----*/
		#dsidx-listings li.dsidx-listing { padding-bottom:10px; }
		#dsidx-listings .dsidx-media .dsidx-photo { width:96%; padding:2%; position:inherit; }
		#dsidx-listings .dsidx-media .dsidx-photo img { width:auto; max-width:100%; }
		#dsidx-listings .dsidx-primary-data, #dsidx-listings .dsidx-secondary-data { padding-left:2%; width:98%; clear:both; }
		#dsidx-listings li.dsidx-listing .dsidx-price { position:inherit; margin:10px 0px; float:left; }
		#dsidx-listings .dsidx-primary-data, #dsidx-listings .dsidx-secondary-data { clear:both; }
		#dsidx-listings .dsidx-secondary-data div { width:45%; }
		
		#dsidx.dsidx-details .dsidx-contact-form .dsidx-contact-form-schedule-date-row select { display:block; width:100%; }		
		
		/*----*****---- << BuddyPress >> ----*****----*/
		#buddypress .standard-form #basic-details-section, #buddypress .standard-form #blog-details-section, #buddypress .standard-form #profile-details-section { width:100%; margin-bottom:20px; }
		#buddypress .activity-list li.load-more a { width:99%; }
		
		#buddypress div#item-header div#item-actions { width:40%; } 
		#buddypress div#item-header div#item-header-content { clear:both; }
		
		#buddypress div#item-header { text-align:center; }
		.bp_group #buddypress div#item-header { text-align:left; }
		.bp_group #buddypress #item-header-avatar { margin-bottom:20px; }
		#buddypress div#item-header img.avatar { float:none; margin:0px; }
		
		.activity-inner iframe, .activity-inner embed, .activity-inner object, .activity-inner video { height:auto; }
		
		#whats-new-post-in-box { clear:both; float:left; }
		#buddypress form#whats-new-form #whats-new-options { height:130px !important; }
		
		
		.dt-sc-video-container .dt-sc-mobile-image-container { display:block !important; }
		.dt-sc-video-container video { display:none !important; }
		.dt-sc-video-content-wrapper { background:none; }

	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.container, #primary, #primary.page-with-both-sidebar { width:420px; }
		.boxed .wrapper, .boxed .is-sticky #header-wrapper { width:460px; }
		
		
		/*----*****---- << Main >> ----*****----*/			
		#lang_sel ul ul { top:31px; z-index:9999999; }
		#lang_sel ul ul li { float:left; text-align:left; }
		
		th, td { padding:10px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/	
		
		.column .dt-sc-donutchart-small { margin:0px 40%; } 
		.column .dt-sc-donutchart-medium { margin:0px 27%; }
		.column .dt-sc-donutchart-large { margin:0px 14%; }
		
		/*----*****---- << Portfolio >> ----*****----*/	
		
		/*----*****---- << Blog >> ----*****----*/	
		ul.commentlist li { padding-left:70px; }
		ul.commentlist li .comment-author img { max-height:50px; max-width:50px; }
		
		
		/*----*****---- << Contact >> ----*****----*/	
		#contact-form p .fa, #respond p .fa, .mailchimp-form .fa { width:8%; }
		#contact-form p input, #contact-form p textarea, #respond p input, #respond p textarea, .mailchimp-form p input, .mailchimp-form p textarea { width:88%; }
		
		/*----*****---- << Property Slider >> ----*****----*/	
		.property-slider-details .property-slider-content { width:260px; }
		.property-slider-details .property-slider-content p, .property-slider-details .property-slider-content > a { display:none; }
		.property-slider-details { top:20% !important; }
		
		
	}
	
	
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << Shortcodes >> ----*****----*/
		.dt-sc-button.large { padding:21px 40px; }
		.dt-sc-button.xlarge { padding:25px 35px; }
			
		.dt-sc-callout-box h4 { font-size:18px; }
		.dt-sc-callout-box h5 { font-size:15px; }
		
		.dt-sc-pullquote1.alignleft, .dt-sc-pullquote2.alignleft, .dt-sc-pullquote3.alignleft, .dt-sc-pullquote4.alignleft, .dt-sc-pullquote5.alignleft, .dt-sc-pullquote6.alignleft, .dt-sc-pullquote1.alignright, .dt-sc-pullquote2.alignright, .dt-sc-pullquote3.alignright, .dt-sc-pullquote4.alignright, .dt-sc-pullquote5.alignright, .dt-sc-pullquote6.alignright  { margin-left:0px; margin-right:0px; float:left; padding:19px 5%; width:90%; text-align:center; }
		
		/*----*****---- << Add Property >> ----*****----*/
		.property-list-table { display:block; position:relative; width:100%; position:relative; border-bottom:1px solid #dddddd; }
		.property-list-table thead { display:block; float:left; }
		.property-list-table tbody { display:block; width:auto; position:relative; overflow-x:auto; white-space:nowrap; }
		.property-list-table thead tr { display:block; }
		.property-list-table th { display:block; height:42px; line-height:42px; margin-bottom:1px; width:70px; }
		.property-list-table tbody tr  { display:inline-block; vertical-align:top; width:217px; }
		.property-list-table td { display:block; min-height:1.25em; }
		
		.single-property-info li.price { margin-bottom:0px; }
		.single-property-info li { clear:both; }
		.property-single-detail .amenities-list li { width:98%; }
		
		/*----*****---- << dsIDXpress >> ----*****----*/
		#dsidx-listings .dsidx-secondary-data div { width:100%; }
		
		/*----*****---- << BuddyPress >> ----*****----*/
		#buddypress div.pagination .pagination-links { float:left; margin-top:10px; }
		#buddypress div.pagination .pagination-links a, #buddypress div.pagination .pagination-links span.current { margin-right:10px; margin-left:0px; }
		#buddypress ul.item-list li div.action { position:inherit; margin-bottom:10px; }
		#buddypress ul.item-list li div.item-desc { width:80%; }
		
		/*----*****---- << Property Slider >> ----*****----*/	
		.property-slider-details { display:none; }
		
	}
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		#main-menu ul { display:none; }
		
		.container, #primary, #primary.page-with-both-sidebar { width:300px; }
		.boxed .wrapper, .boxed .is-sticky #header-wrapper { width:100%; }
		
		/*----*****---- << Header >> ----*****----*/
		.top-bar { font-size:11px; padding:5px 0px; }
		#lang_sel a, #lang_sel a:visited, #lang_sel a.lang_sel_sel { font-size:11px; }
		#lang_sel ul ul { top:23px; z-index:9999999; }
		#lang_sel ul ul li { float:left; text-align:left; }
		
		#logo { height:45px; margin-bottom:12px; }
		#logo a { height:100%; }
		#logo a img { max-height:100%; }
		
		.is-sticky #header #logo { margin-bottom:11px; }
		
		.mean-container a.meanmenu-reveal { width:19px; height:21px; padding:19px 16px 18px; }
		.mean-container .mean-nav { margin-top:56px; }
		
		/*.is-sticky #header.header4 .mean-container a.meanmenu-reveal, .is-sticky #header.header5 .mean-container a.meanmenu-reveal { top:-57px; }
		#header.header4 .mean-container .mean-nav, #header.header5 .mean-container .mean-nav, .is-sticky #header.header4 .mean-container .mean-nav, .is-sticky #header.header5 .mean-container .mean-nav { margin-top:0px; }
		#header.header4 .mean-container a.meanmenu-reveal, #header.header5 .mean-container a.meanmenu-reveal { top:-57px; }*/
		
		#header.header4 #logo, #header.header5 #logo { margin-bottom:12px; }
		
		
		/*----*****---- << Main >> ----*****----*/		
		
		/*----*****---- << Shortcodes >> ----*****----*/	
		.dt-sc-hr.top { width:88%; }
		.dt-sc-hr.top a { right:-12%; }
		
		.main-title h2 { font-size:30px; }	
		.main-title h4 { font-size:20px; }
		
		.content-slider img { margin-top:20px; }
		
		.fullwidth-section .dt-sc-one-third .dt-sc-button.large.filled { font-size:16px; padding:21px 30px; }
		
		
		th, td { padding:5px; }
		th { font-size:11px; }
		td { font-size:10px; }
		
		.column .dt-sc-donutchart-small { margin:0px 34%; } 
		.column .dt-sc-donutchart-medium { margin:0 16%; }
		.column .dt-sc-donutchart-large { margin:0px; }
		
		.fullwidth-section h5.dt-sc-toggle, .fullwidth-section h5.dt-sc-toggle-accordion { padding-top:4px; }
		
		/*ul.dt-sc-tabs-frame li a, ul.dt-sc-tabs-frame li a.current { border-bottom:1px solid #d3d3d3; margin-bottom:-1px; }*/
		
		h1.border-title { font-size:17px; }
		h2.border-title { font-size:16px; }
		h3.border-title { font-size:15px; }
		h4.border-title { font-size:14px; }
		h5.border-title { font-size:13px; }
		h6.border-title { font-size:12px; }
		
		.property-item-list .property-price, .property-item-list .property-meta { width:100%; margin:10px 0px; }
		
		/*----*****---- << Portfolio >> ----*****----*/	
		.portfolio figcaption h5 { font-size:16px !important; }
		.portfolio figcaption h6 { font-size:14px !important; }
		
		/*----*****---- << Blog >> ----*****----*/	
		ul.commentlist li { padding-left:50px; }
		ul.commentlist li .comment-author img { max-height:30px; max-width:30px; }
		
		/*----*****---- << Contact >> ----*****----*/	
		#contact-form p .fa, #respond p .fa, .mailchimp-form .fa { width:12%; }
		#contact-form p input, #contact-form p textarea, #respond p input, #respond p textarea, .mailchimp-form p input, .mailchimp-form p textarea { width:84.4%; }
		
		
		
		/*----*****---- << BuddyPress >> ----*****----*/
		#buddypress div.item-list-tabs#subnav ul li#activity-filter-select { clear:both; float:left; }
		#buddypress ul.item-list li div.action { text-align:left; }
		
		
	}
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		#main-menu ul { display:none; }
		
		.container, #primary, #primary.page-with-both-sidebar { width:200px; }
		.boxed .wrapper, .boxed .is-sticky #header-wrapper { width:100%; }
		
		/*----*****---- << Header >> ----*****----*/
		.top-bar { font-size:11px; padding:5px 0px; }
		
		#lang_sel a, #lang_sel a:visited, #lang_sel a.lang_sel_sel { font-size:11px; }
		#lang_sel ul ul { top:23px; z-index:9999999; }
		#lang_sel ul ul li { float:left; text-align:left; }
		
		#logo, .is-sticky #header #logo, #header.header4 #logo, .is-sticky #header.header4 #logo, #header.header5 #logo, .is-sticky #header.header5 #logo { height:40px; margin-bottom:12px; text-align:left; margin-left:5%; width:95%; }
		#logo a { height:100%; }
		#logo a img { max-height:100%; }
		
		/*#header, .is-sticky #header, .is-sticky #header.header4, .is-sticky #header.header5 { height:45px; }
		#logo, #header.header4 #logo, #header.header5 #logo, .boxed #logo { width:70%; }
		#header .container, #logo, #logo a { height:100%; }
		#logo a img { max-height:100%; }*/
		
		.mean-container a.meanmenu-reveal, .is-sticky .mean-container a.meanmenu-reveal { width:20px; height:18px; padding:17px 18px 18px; }
		.mean-container .mean-nav, .is-sticky .mean-container .mean-nav { margin-top:52px; }
		
		/*.is-sticky #header.header4 .mean-container a.meanmenu-reveal, .is-sticky #header.header5 .mean-container a.meanmenu-reveal { top:-46px; }
		#header.header4 .mean-container .mean-nav, #header.header5 .mean-container .mean-nav, .is-sticky #header.header4 .mean-container .mean-nav, .is-sticky #header.header5 .mean-container .mean-nav { margin-top:0px; }*/
		/*#header.header4 .mean-container a.meanmenu-reveal, #header.header5 .mean-container a.meanmenu-reveal { top:-46px; }*/
		
		/*----*****---- << Slider >> ----*****----*/
		.top-map-info-window { min-width:200px; }
		.top-map-info-window .thumb { max-width:90px !important; } 
		.top-map-info-window .thumb span { padding:3px 7px 0px; font-size:12px; }
		.top-map-info-window .map-pro-title a { font-size:10px !important; line-height:normal; }
		.top-map-info-window .map-pro-title { margin-bottom:0px; }
		.gm-style a.dt-sc-button.small { padding:5px 10px; font-size:10px; }
		
		/*----*****---- << Property Search >> ----*****----*/	
		.property-search-container .small-module, .property-search-container .medium-module, .property-search-container .large-module { width:100%; margin:0px 0px 7px; }
		.property-search-container ul.dt-sc-tabs-frame li, .property-search-container .dt-sc-tabs-frame-content { box-shadow:none; }
		
		.property-search-container .dt-sc-tabs-frame-content { border:1px solid #D9D9D9; padding:10px 5% 15px; width:90%; }
		
		.container .property-search-container { margin:0px; }
		
		ul.dt-sc-tabs-frame li { margin-bottom:1px; }
		ul.dt-sc-tabs-frame > li > a { border-radius:5px; }
		ul.dt-sc-tabs-frame > li > a.current:before { border:none; }
		.dt-sc-tabs-frame-content { margin-top:10px; border-radius:5px; }
		.dt-sc-tabs-frame-content { padding:10px 5%; width:90%; }
		
		/*----*****---- << Main >> ----*****----*/		
		
		/*----*****---- << Shortcodes >> ----*****----*/
		.dt-sc-hr.top { width:82%; }
		.dt-sc-hr.top a { right:-18%; }
		
		th, td { font-size:10px; padding:5px 0px; text-transform:none; }
		
		.dt-sc-donutchart-small { margin:0px 25%; }		
		.dt-sc-donutchart-medium { margin:0 17%; }
		.dt-sc-donutchart-large { margin:0px 5%; }
		
		.dt-sc-donutchart-medium { width:130px; }
		.dt-sc-donutchart-medium .dt-sc-donutchart, .dt-sc-donutchart-medium canvas, .dt-sc-donutchart-medium .donutchart-text { width:130px !important; height:130px !important; line-height:130px !important; }
		.dt-sc-donutchart-medium .donutchart-text { font-size:24px !important; }
		
		.dt-sc-donutchart-large { width:180px; }
		.dt-sc-donutchart-large .dt-sc-donutchart, .dt-sc-donutchart-large canvas, .dt-sc-donutchart-large .donutchart-text { width:180px !important; height:180px !important; line-height:180px !important; }
		.dt-sc-donutchart-large .donutchart-text { font-size:30px !important; }
		
		.dt-sc-testimonial { padding-left:0px; text-align:center; }
		.dt-sc-testimonial .author { position:inherit; float:none; display:inline-block; margin-bottom:10px; }
		.dt-sc-testimonial blockquote:before { background:none; }
		.dt-sc-testimonial-carousel-wrapper .carousel-arrows { top:-25px; }
		.dt-sc-testimonial .author img { max-width:none; }
		.dt-sc-testimonial .author { width:76px; }
		
		/*ul.dt-sc-tabs-frame li a, ul.dt-sc-tabs-frame li a.current { border-bottom:1px solid #d3d3d3; margin-bottom:-1px; }*/
		
		ul.dt-sc-tabs-frame li { width:100%; }
		ul.dt-sc-tabs-frame li a { padding:0px 5%; width:90%; }
		
		.dt-sc-contact-info .icon { width:50px; margin-right:10px; }
		.dt-sc-contact-info p { width:65%; }
		
		.dt-sc-button.large.filled { font-size:16px; padding:15px 25px; }
		.dt-sc-button.xlarge.filled { font-size:18px; padding:18px 30px; }
		
		.dt-sc-button.small { font-size:12px; padding:11px 20px; }
		.dt-sc-button.medium { font-size:14px; padding:13px 20px; }
		.dt-sc-button.large { font-size:16px; padding:15px 25px; }
		.dt-sc-button.xlarge { font-size:18px; padding:18px 30px; }
		
		.widget #wp-calendar th, .widget #wp-calendar td { padding:5px; }
		
		.border-title span { padding:5px 10px; }
		.border-title { padding:5px 0px; }
		.border-title:before { background:none; }
		h1.border-title, h2.border-title, h3.border-title, h4.border-title, h5.border-title, h6.border-title { font-size:12px; line-height:25px; }
		
		h1{ font-size:24px; }
		h2{ font-size:20px; }
		h3{ font-size:18px; }
		h4{ font-size:16px; }
		h5{ font-size:14px; }
		h6{ font-size:13px; }
		
		.dt-sc-button.medium { padding:13px 15px; }
		.dt-sc-button.large, .dt-sc-button.large.filled { padding:15px 25px; }
		.dt-sc-button.xlarge, .dt-sc-button.xlarge.filled { padding:18px 22px; }
		
		.dt-sc-button.large.with-icon { padding:16px 15px 16px 30px; }
		.dt-sc-button.xlarge.with-icon { padding:20px 10px 20px 27px; }
		
		blockquote q { font-size:18px; line-height:30px; }
		blockquote cite { font-size:16px; }
		
		
		/*----*****---- << Portfolio >> ----*****----*/	
		.portfolio figcaption h5, .portfolio figcaption h6 { font-size:11px !important; margin-bottom:0px !important; }
		.portfolio .fig-overlay a { width:26px !important; height:26px !important; line-height:26px !important; font-size:14px !important; }
		
		.dt-sc-sorting-container a { font-size:11px; padding:5px 10px; }
		
		
		/*----*****---- << Contact >> ----*****----*/	
		#contact-form p .fa, #respond p .fa, .mailchimp-form .fa { width:14%; }
		#contact-form p input, #contact-form p textarea, #respond p input, #respond p textarea, .mailchimp-form p input, .mailchimp-form p textarea { width:81.4%; }
		
		/*.dt-sc-social-icons li a { height:35px; width:35px; }
		.dt-sc-social-icons li:hover:after { height:35px; }
		.dt-sc-social-icons li:after, #footer .widget .dt-sc-social-icons li { width:35px; }*/
		
		/*----*****---- << Blog >> ----*****----*/	
		.entry-meta { width:45px; }
		.entry-meta .date .day { font-size:18px; }
		.entry-meta .date:before { border-left-width:23px; border-right-width:23px; border-bottom-width:10px; top:-10px; }
		
		/*.entry-meta { width:50px; }
		.blog-entry-inner { padding-left:70px; }
		
		.entry-thumb .bx-controls a { height:35px; width:20px; background-size:7px 14px !important; }	*/	
		
		/*----*****---- << Add property >> ----*****----*/
		.property-list-table th { width:70px; }
		.property-list-table tbody tr  { width:128px; }
		.property-list-table td { overflow:auto; }
		
		.pagination ul li a, .pagination .next-post a, .pagination .prev-post a, .property-pagination a { margin-bottom:10px; }
		
		/*----*****---- << Property >> ----*****----*/
		.property-item .property-details .property-meta li, .property-item-list .property-meta li, .dt-sc-one-fourth .property-item .property-details .property-meta li, .dt-sc-one-fourth .property-item .property-details .property-meta li:first-child { width:50%; margin:5px 0px; }
		.property-item .property-thumb-meta .property-type, .property-item .property-thumb-meta .property-price { font-size:12px; padding:13px; }
		.property-item .property-details h2 { font-size:16px; }
		.property-item .property-details h3 { font-size:12px; line-height:20px; }
		.property-contract-type { font-size:11px; height:25px; line-height:25px; top:8px; left:-40px; }
		
		.property-item-list .property-price, .property-item-list .property-meta { width:100%; margin:10px 0px; text-align:center; }
		.property-item-list-container > li { padding-top:10px; padding-bottom:10px; text-align:center; }
		
		/*----*****---- << dsIDXpress >> ----*****----*/
		.dsidx.page-id-2020 #primary td, .dsidx.page-id-2020 #primary th { padding:0px; }
		.dsidx.page-id-2020 .dsidx-photo-thumb img, .dsidx.page-id-2020 .dsidx-primary-photo { width:200px !important; }
		
		#dsidx.dsidx-details #dsidx-primary-data th, #dsidx.dsidx-details #dsidx-header #dsidx-primary-data td, #dsidx.dsidx-details #dsidx-secondary-data th, #dsidx.dsidx-details #dsidx-secondary-data td, #dsidx.dsidx-details .dsidx-supplemental-data th, #dsidx.dsidx-details .dsidx-supplemental-data td { padding:0px; }
		
		.dsidx-prop-summary div, .dsidx-prop-summary div > a { width:100%; margin-right:0px !important; }
		.dsidx-prop-summary div a img { max-width:100%; }
		
		/*----*****---- << BuddyPress >> ----*****----*/
		#buddypress div.item-list-tabs ul li#members-order-select, #buddypress div.item-list-tabs ul li#groups-order-select, #buddypress div.item-list-tabs ul li#activity-filter-select { min-width:100px; }
		#search-members-form #members_search_submit, #search-groups-form #groups_search_submit { padding:13px; font-size:10px; }
		#search-members-form #members_search, #search-groups-form #groups_search { padding-top:10px; padding-bottom:10px; }		
		
		#buddypress ul.item-list li div.item-desc { width:100%; }
		#buddypress li div.item, #buddypress ul.item-list .item-avatar, #buddypress ul.item-list li div.item-title, #buddypress ul.item-list li h4, #buddypress ul.item-list .item-meta, #buddypress ul.item-list li div.action { width:100%; text-align:center; margin:0px; }
		#buddypress ul.item-list li img.avatar { float:none; }
		
		#buddypress div#item-header div#item-actions { width:100%; float:left; text-align:center; margin:0px; }
		#buddypress div#item-header ul li { float:none; display:inline-block; }
		
		#buddypress div.item-list-tabs ul li a { line-height:35px; padding:0px 10px; }	
		
		#buddypress form#whats-new-form #whats-new-options { height:160px !important; }
		#buddypress form#whats-new-form #whats-new-options select { margin-left:0px; }
		#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a { border-bottom-color:#d3d3d3; }
		
		#buddypress ul.item-list li { text-align:center; padding-bottom:30px; }
		
		.bp_group #buddypress div#item-header { text-align:center; }
		
		/* Footer */
		#footer .footer-links p { width:100%; margin:10px 0px 0px; padding:0px; text-align:center; background:none; }
		
	}
	
	
